/*Font Police*/
 @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');




/* General */

body{
    
    margin:0;
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

#main{
    margin: 0px 50px 0px 50px;
}



ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

h2{
    font-weight: 700;
}




/*Header*/

header
{
    justify-content: space-around;
    margin-bottom: 35px;
    width:100%;
}
#box
{
    display: flex;
    justify-content: space-between;

}

.logo
{ 
    margin-top: 30px;
}

.logo img
{
    width: 150px;
    height: 100px;
}

.box
{
    display:flex;
}


.box ul
{
  display:flex;

}

.box li
{
    padding-top: 60px;
    margin-top: 10px;
    
}

.box a
{
    padding: 40px 30px 0;
}
.box li a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 65px;
}

.Titre h2
{
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.Titre p
{
    margin-top: 0px;
    opacity: 0.5;
}

/* Search Bar*/

.search
{
    display: inline-block;
    position: static;
    
}
.searchbar
{
    height: 70px;
    width: 450px;
    position: relative;
}
.map
{
    display: inline-block;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
}
.map div
{
    height: 50px;
    text-align: center;
    margin-top: 14px;
}
.Input
{
    border: 1px #F2F2F2 solid;
    font-size: medium;
    font-weight: 600px;
    width: 270px;
    margin-left: 50px;
    height: 50px;
    vertical-align: center;
    padding-left: 15px;
    position: relative;
}
.Input :placeholder
{
    color:white;
}
.button
{
    width: 130px;
    height: 50px;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    border: none;
    cursor: pointer;
    
}


.button i
{
    display: none;
}


/*Filtres*/

.Filtres
{
    display: flex;
    font-weight: bolder;
    font-size: medium;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    
}

.Filtres p
{
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
}

.Filtrecontainer
{
    display:flex;
   margin-right: 150px;
   align-items: center;
   height: 45px;
   border-left: none;
    
}


.icons
{
    background-color:#DEEBFF;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    position:absolute;
    margin-left: -3px;
    z-index: 2;
    margin-top: 1px;
    
}



.icons + a
{
    position:relative;
    z-index: 1;
    padding: 10px 40px 10px 60px;
    border: 1px #F2F2F2 solid;
    border-radius: 50px 50px 50px 50px;

}

.icons + a:hover
{
   color:#0065FC;
   border: 2px #0065FC solid;

}



.placement
{
    color:#0065FC;
    margin-top: 10px;
    margin-left: 12px;
    
}




/*Info*/

#info
{
    display:flex;
    flex-wrap: nowrap;
    width: 500px;
    font-size: small;
    font-family: 'raleway';
    opacity: 0.5;
}

#info p
{

    margin-left: -5px;
}

#icone_i
{
    margin: 12px 10px 10px 8px;
    padding: 4px 4px 4px 4px;
    width: 7px;
    height: 7px;
    color:#0065FC ;
    border: 1px #f2f2f2 solid;
    border-radius: 100%;

}

#i
{
    margin: -5px 0px 10px 1px;
}


/* Card Hébergements à Marseille*/

section
{
    display: flex;
    width: 100%;
    
}

.description span
{
    font-weight: bold;
}


article
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    width: 70%;
    height: 700px;
    background-color: #f2f2f2;
    border-radius: 25px 25px 25px 25px;
}



article h2
{
    margin-top: 30px;
    margin-left:30px;
    font-size: large;
    font-weight: bold;
}

.card1
{
    display: flex;
    justify-content: space-between;
}
.card2
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.list
{
    display:flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    width: 285px;
    height: 240px;
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0 7px #c1c1c1;

}



.list img
{

    width: 265px;
    height: 150px;
    margin-top: 5px;
    margin-left: 4px;
    border-radius: 20px 20px 0px 0px;

}

.list:hover
{
    cursor: pointer;
    opacity: 0.5;
}



.description h3
{
    font-size: medium;
    margin: 10px 0px 10px 15px;
    
}

.description p
{
    font-size: small;
    margin: -5px 0px 10px 15px;
    padding-bottom: 0px;
    
}

.starcontainer
{
    display:flex;
    margin-left: 15px;
    margin-top: -5px;
    
}

.fullstar
{
    display: flex;
    color:#0065FC ;
    font-size: small;

}

.star
{
    display:flex;

    color:#f2f2f2;
    font-size: small;
}

#affichemore
{
    font-weight: bold;
    margin-bottom: 20px;
    margin-left:30px;
}

#affichemore :hover
{
    opacity:0.5;
}

/*Les Plus Populaires*/

aside
{
    width: 30%;
    height: 700px;
    margin-top: 20px;
    margin-left: 40px;
    background-color: #f2f2f2;
    border-radius: 25px 25px 25px 25px;
}

#popular
{
    Display:flex;
    justify-content: space-between;
}

#popular h2
{
    font-size: large;
    margin-top: 30px;
    margin-left: 30px;
}

.fa-chart-line
{
    font-size: x-large;
    margin-top: 30px;
    margin-right: 30px;
}

#popularhotel
{
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 700px;
}

.hotel
{
    display: flex; 
    background-color: white;
    width: 390px;
    height: 170px;
    margin : 30px 20px 30px 20px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0 7px #c1c1c1;

}

.hotel:hover
{
    opacity: 0.5;
    cursor: pointer;
}

.popularimg
{
    width: 150px;
    height: 130px;
}

.popularimg img
{
  width: 150px;
  height: 160px;
  border-radius: 20px 0px 0px 20px;
  margin: 5px 0px 5px 10px;
}

.descripthotel
{
    margin-left: 25px;
    margin-top: 5px;
}

.descripthotel h3
{
    width: 200px;
    height: 40px;
    overflow: hidden;
}

.descripthotel p
{
    margin-top: -5px;
}

.descripthotel span
{
    font-weight: bold;
}


.popularstar
{
    display:flex;
    margin-top: 40px;
    font-size: small;
}

.g_star
{
    color:#0065FC;
}

.b_star
{
    color:#F2F2F2 ;
}


/*Activités à Marseille*/

#acmar
{
    display: flex;
    flex-direction: column;
}

#acmar h2
{
    font-size: large;
    font-weight: bold;
    margin-top: 50px;
}


#activites_container
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    
}

#activites_container img
{
    display:flex;
}

.one_activites
{
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0 7px #c1c1c1;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    margin-right: 15px;
    margin-left: 15px;
}

.one_activites img
{
    display: flex;
    width: 350px;
    height: 450px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.one_activites p
{
    font-size: medium;
    font-weight: bold;
    margin-left: 20px;
}


.one_activites:hover
{
    opacity: 0.5;
    cursor: pointer;
}

.two_activites
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 500px;
}

.two_activites img
{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 180px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}


.two_activites p
{
    font-size: medium;
    font-weight: bold;
    margin-left: 20px;
}

.card3:hover
{
    opacity: 0.5;
    cursor: pointer;
}

.card3
{
    height: 230px;
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0 7px #c1c1c1;
}



/*Footer*/

footer
{
    display:flex;
    justify-content: space-around;
    margin-top: 40px;
    width:100%;
    align-items: flex-start;
    height: 250px;
    background-color: #f2f2f2;
}

footer h4
{
    font-weight: bold;
    
}

footer ul
{
    border: 2px green solid;
    position: absolute;
    

}



footer li
{
  margin-top: 10px;
  border: 2px red solid;
}




footer a:hover
{
    font-weight: 600;
    color: #0065FC;
}

#colum1,#colum2,#colum3
{
    margin-right: 300px;
    margin-left: -10px;
    margin-top: 10px;;
}

#colum3
{
    margin-left: -190px;
}

